.nav{
    display: flex;
    justify-content: space-between;

}
.navbar{
    display: flex;
    width: 20%;
    padding: 10px;
}
.hometab{
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 20%;
}
.img-icons{
display:flex;
justify-content: space-evenly;
align-items:left;
width: 10%;
}
.div ul{
    display: flex;
    justify-content: space-between;
}
.div ul li{
    justify-content: space-evenly;
}

.maindiv{
    display: flex;
}
.card{ 
    justify-content: flex-end;
    margin-right: 30px;    
    justify-content: space-between;
 
}
.see{
    align-items: self-start;
    display: flex;
   margin: 10px;
   padding-left: 10px;
}